@keyframes moveInTop {
  0% {
    margin-top: -10rem;
    opacity: 0;
  }
  100% {
    margin-top: 2rem;
    opacity: 1;
  }
}
@keyframes btnAnimate {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  70% {
    transform: translateX(2rem);
    opacity: 1;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@keyframes moveInRight {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  70% {
    transform: translateX(-2rem);
    opacity: 1;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@keyframes cssAnimate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cssAnimate1 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  color: #000;
  background-color: #eee;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  width: 100%;
}

[class^=heading-] {
  font-family: "Montserrat", sans-serif;
  color: #414857;
}

.heading-primary {
  font-size: 8rem;
}
@media (max-width: 56.25em) {
  .heading-primary {
    font-size: 7rem;
  }
}
@media (max-width: 37.5em) {
  .heading-primary {
    font-size: 4rem;
  }
}

.heading-secondary {
  font-size: 4rem;
  transition: 0.5s;
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
.heading-secondary:hover {
  letter-spacing: 1rem;
}
@media (max-width: 56.25em) {
  .heading-secondary:hover {
    letter-spacing: 0rem;
  }
}

.title-main {
  width: 100%;
  padding: 10rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20rem;
  background-image: linear-gradient(to right, rgba(37, 41, 50, 0.85), rgba(37, 41, 50, 0.85)), url(../img/footer.jpg);
  background-size: cover;
  font-size: 5rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  font-weight: 500;
}

.u-text-center {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}
@media (max-width: 37.5em) {
  .u-margin-bottom-big {
    margin-bottom: 4rem;
  }
}

.u-animated {
  animation: zoomText 3s forwards ease-in;
}

.btn:link, .btn:visited {
  text-decoration: none;
  font-size: 1.8rem;
}
.btn--dark {
  display: inline-block;
  color: white;
  background-color: #414857;
  padding: 1.5rem 4rem;
  border-radius: 5px;
  transition: 0.4s;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.08);
}
.btn--dark:hover {
  color: white;
  background-color: #414857;
  transform: translateY(-10px);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
}
.btn--dark:active {
  transform: translateY(-5px);
}
.btn--animate {
  animation: btnAnimate 0.5s backwards ease-out;
  animation-delay: 2s;
}

.dns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dns__box {
  width: 27%;
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .dns__box {
    width: 45%;
    margin-bottom: 5rem;
  }
}
@media (max-width: 37.5em) {
  .dns__box {
    width: 70%;
    margin: 0 auto 5rem auto;
  }
}
.dns__title {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.dns__title-num {
  color: #eb2f64;
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -1px;
}
.dns__title-text:link, .dns__title-text:visited {
  padding-left: 2rem;
  text-decoration: none;
  color: #232323;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  transition: all 0.3s;
}
.dns__title-text:link:hover, .dns__title-text:visited:hover {
  color: #eb2f64;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.html {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10rem;
}
@media (max-width: 37.5em) {
  .html {
    margin-top: 5rem;
  }
}
.html__box {
  position: relative;
  width: 30%;
  height: 50rem;
  background-color: white;
  margin-bottom: 8rem;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
@media (max-width: 75em) {
  .html__box {
    width: 45%;
  }
}
@media (max-width: 37.5em) {
  .html__box {
    width: 60%;
    height: 35rem;
    margin: 0 auto 5rem auto;
  }
}
.html__box:hover .html__content {
  top: 0;
}
.html__box:hover .html__triangle {
  bottom: -22rem;
}
@media (max-width: 37.5em) {
  .html__box:hover .html__triangle {
    bottom: -35rem;
  }
}
.html__chap {
  font-size: 7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #232323;
  text-align: center;
  z-index: 2;
}
@media (max-width: 56.25em) {
  .html__chap {
    font-size: 5rem;
  }
}
@media (max-width: 37.5em) {
  .html__chap {
    font-size: 3rem;
  }
}
.html__chap--num {
  display: inline-block;
  color: #eb2f64;
  opacity: 0.7;
  font-weight: 500;
  font-size: 15rem;
  margin-top: -5rem;
}
@media (max-width: 56.25em) {
  .html__chap--num {
    font-size: 10rem;
  }
}
@media (max-width: 37.5em) {
  .html__chap--num {
    font-size: 7rem;
    margin-top: -2rem;
  }
}
.html__content:link, .html__content:visited {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, #ff3366, #ba265d);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-decoration: none;
  padding: 5rem;
  text-align: center;
  color: white;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}
@media (max-width: 37.5em) {
  .html__content:link, .html__content:visited {
    font-size: 2rem;
    top: 0;
  }
}
.html__triangle {
  position: absolute;
  bottom: -40rem;
  right: -5rem;
  width: 200px;
  height: 400px;
  background-color: white;
  z-index: 5;
  transform: rotate(50deg);
  transition: 0.3s 0.3s;
}
@media (max-width: 37.5em) {
  .html__triangle {
    bottom: -35rem;
  }
}

.css {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 75em) {
  .css {
    width: 60%;
    margin: auto;
    justify-content: center;
  }
}
@media (max-width: 37.5em) {
  .css {
    width: 90%;
    margin: auto;
    justify-content: center;
  }
}
.css__square {
  display: block;
  width: 40rem;
  height: 40rem;
  position: relative;
}
@media (max-width: 93.75em) {
  .css__square {
    width: 30rem;
    height: 30rem;
  }
}
@media (max-width: 75em) {
  .css__square {
    width: 40rem;
    height: 40rem;
  }
  .css__square:not(:last-child) {
    margin-bottom: 10rem;
  }
}
@media (max-width: 56.25em) {
  .css__square:not(:last-child) {
    margin-bottom: 8rem;
  }
}
@media (max-width: 37.5em) {
  .css__square {
    width: 30rem;
    height: 30rem;
  }
  .css__square:not(:last-child) {
    margin-bottom: 5rem;
  }
}
.css__square span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #414857;
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  transition: 0.5s;
  animation: cssAnimate 6s linear infinite;
}
.css__square:hover span:nth-child(1) {
  border: none;
  background: rgba(235, 47, 100, 0.6);
}
.css__square span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #414857;
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  transition: 0.5s;
  animation: cssAnimate 4s linear infinite;
}
.css__square:hover span:nth-child(2) {
  border: none;
  background: rgba(235, 47, 100, 0.6);
}
.css__square span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #414857;
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  transition: 0.5s;
  animation: cssAnimate1 10s linear infinite;
}
.css__square:hover span:nth-child(3) {
  border: none;
  background: rgba(235, 47, 100, 0.6);
}
.css__title {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 80%;
  height: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
  font-size: 2.5rem;
  color: #414857;
  transition: 0.5s;
}
@media (max-width: 37.5em) {
  .css__title {
    font-size: 2rem;
  }
}
.css__title-main {
  font-size: 3rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
@media (max-width: 37.5em) {
  .css__title-main {
    font-size: 2rem;
  }
}
.css__square:hover .css__title {
  color: white;
}

.scrollTop {
  position: fixed;
  width: 5rem;
  height: 5rem;
  bottom: 3rem;
  right: 3rem;
  background-color: #414857;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  border-radius: 3px;
  transform: scale(0.5) translateX(10em);
  transition: 0.6s;
}
.scrollTop--animate {
  right: 3rem;
  transform: scale(1) translateX(0);
}

.content {
  max-width: 60%;
  margin: 15rem auto 15rem auto;
  color: #232323;
  overflow: hidden;
}
.content__box {
  margin-bottom: 5rem;
}
.content__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.content__title--small {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.content__title--link:link, .content__title--link:visited {
  text-decoration: none;
  color: #232323;
  border-bottom: 1px solid #232323;
  transition: 0.3s;
}
.content__title--link:link:hover, .content__title--link:visited:hover {
  color: #eb2f64;
  opacity: 0.8;
}
.content__details {
  font-family: "Roboto", sans-serif;
  color: #414857;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}
.content__img {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.content__link:link, .content__link:visited {
  text-decoration: none;
  display: block;
  font-size: 2rem;
  color: #414857;
  transition: 0.4s;
  margin-bottom: 1rem;
}
.content__link:link:hover, .content__link:visited:hover {
  color: #eb2f64;
  transform: translateX(5px);
}
.content li, .content dd {
  margin-left: 3rem;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/home1.jpg);
  background-size: cover;
  padding: 16rem 0 0 0;
  margin-bottom: 20rem;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 37.5em) {
  .header {
    padding: 10rem 0 0 0;
    margin-bottom: 5rem;
  }
}
.header__box {
  background-size: cover;
  width: 98%;
  height: 80vh;
  margin: auto;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  position: relative;
}
.header__box-girl {
  position: absolute;
  right: 0;
  bottom: -23rem;
}
.header__box-girl img {
  width: 100%;
}
@media (max-width: 75em) {
  .header__box-girl {
    right: 0;
    bottom: -23rem;
  }
  .header__box-girl img {
    width: 90%;
    float: right;
  }
}
@media (max-width: 56.25em) {
  .header__box-girl {
    right: 0;
    bottom: -17rem;
  }
  .header__box-girl img {
    width: 60%;
    float: right;
  }
}
@media (max-width: 37.5em) {
  .header__box-girl {
    display: none;
  }
}
.header__title {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header__title-sub {
  font-size: 2.5rem;
  color: #414857;
  margin: -10rem 0 5rem 0;
  animation: moveInTop 0.5s forwards ease-out;
  animation-delay: 1.5s;
  opacity: 0;
}
@media (max-width: 37.5em) {
  .header__title-sub {
    font-size: 2rem;
    margin: -8rem 0 3rem 0;
  }
}

.footer {
  padding: 18rem 0;
  background-image: linear-gradient(to right, rgba(37, 41, 50, 0.85), rgba(37, 41, 50, 0.85)), url(../img/footer.jpg);
  background-size: cover;
  color: white;
}
@media (max-width: 56.25em) {
  .footer {
    padding: 10rem 0;
  }
}
@media (max-width: 37.5em) {
  .footer {
    padding: 7rem 0;
  }
}
.footer__logo {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  text-align: center;
}
.footer__infors {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 5rem;
  margin-top: 5rem;
}
.footer__infor {
  width: 30%;
}
@media (max-width: 56.25em) {
  .footer__infor {
    width: 100%;
  }
  .footer__infor:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.footer__infor ul {
  list-style: none;
}
.footer__infor ul li {
  display: inline-block;
}
.footer__infor ul li a:link, .footer__infor ul li a:visited {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  padding: 0 0.5rem;
}

.menu {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 15rem;
  display: flex;
  padding: 0 1%;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
@media (max-width: 37.5em) {
  .menu {
    height: 10rem;
  }
}
.menu__logo:link, .menu__logo:visited {
  display: inline-block;
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  color: #232323;
  text-decoration: none;
  transition: 0.5s;
  animation: moveInLeft 1s ease-out backwards;
  animation-delay: 1s;
}
@media (max-width: 37.5em) {
  .menu__logo:link, .menu__logo:visited {
    font-size: 4rem;
  }
}
.menu__bars {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: moveInRight 1s ease-out backwards;
  animation-delay: 1s;
}
.menu__bar {
  width: 30px;
  height: 2px;
  background-color: black;
  position: relative;
  cursor: pointer;
}
.menu__bar::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  top: -7px;
  right: 0;
  background-color: black;
}
.menu__bar::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 100%;
  top: 7px;
  right: 0;
  background-color: black;
}
.menu--scroll {
  background-color: white;
  height: 8rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.menu--scroll .menu__logo {
  font-size: 4rem;
}

.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  z-index: 60;
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 1s cubic-bezier(1, 0, 0, 1);
}
.nav__close {
  color: white;
  font-size: 5rem;
  position: fixed;
  top: 3rem;
  right: 4rem;
  transform: scale(0);
  cursor: pointer;
  transition: 0.5s 1s;
}
.nav__close--zoomClose {
  transform: scale(1);
}
.nav__list {
  list-style: none;
}
.nav__item {
  position: relative;
}
.nav__item:link, .nav__item:visited {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  margin: 1rem 0;
  transition: 0.5s;
  padding: 1rem 3rem;
}
.nav__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #eb2f64;
  border-radius: 3px;
  z-index: -1;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}
.nav__item:hover:before {
  transform: scaleY(1);
  width: 100%;
}
.nav--animate {
  top: 0;
}

.section-dns {
  max-width: 80%;
  margin: 0 auto;
  padding: 5rem 0 15rem 0;
}
@media (max-width: 56.25em) {
  .section-dns {
    padding: 0;
    margin-bottom: 0rem;
  }
}

.section-html {
  width: 100%;
  padding: 15rem 0 15rem 0;
  background-color: #eee;
}
@media (max-width: 56.25em) {
  .section-html {
    padding: 8rem 0 8rem 0;
  }
}

.section-css {
  width: 80%;
  padding: 15rem 0 15rem 0;
  margin: auto;
}
@media (max-width: 56.25em) {
  .section-css {
    padding: 8rem 0 8rem 0;
  }
}

/*# sourceMappingURL=style.css.map */
