$default-font-1: 'Roboto', sans-serif;
$default-font-2:'Montserrat', sans-serif;
$default-font-logo:'Pacifico', cursive;

$color-primary:#eb2f64;
$color-primary-light:#ff3366;
$color-primary-dark:#ba265d;

$color-grey-dark-1:#232323;
$color-grey-dark-2:#414857;
$color-grey-light:#6f6f6f;
$color-grey-light-1:#eee;

$color-black:#000;
$color-white:white;

