.css {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, auto);
  margin: 4rem auto;
  grid-auto-flow: dense;
  text-align: center;
  grid-gap: 1rem;

  @include respond(tab-land) {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 10rem 1rem;
    transition: 0.5s;
    position: relative;
    z-index: 1;
    overflow: hidden;

    @include respond(tab-port) {
      grid-column: unset !important;
      grid-row: unset !important;
    }
  }

  &__box::before {
    content: '';
    width: 200%;
    height: 0%;
    position: absolute;
    bottom: 0;
    left: 0%;
    background-image: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-primary-dark
    );
    z-index: -1;
    border-radius: 50% 50% 0 0;
    transition: 0.5s;
  }

  &__box:hover::before {
    height: 180%;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }

  &__sub {
    font-size: 2rem;
  }

  &__box:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
  }

  &__box:nth-child(2) {
    grid-column: span 1;
    grid-row: span 2;
  }

  &__box:nth-child(4) {
    grid-column: span 1;
    grid-row: span 2;
  }

  &__box:nth-child(8) {
    grid-column: span 2;
    grid-row: span 1;
  }
}
