* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  color: $color-black;
  background-color: $color-grey-light-1;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 0px
  }
}
