body{
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: $default-font-1;
    font-weight: 300;
}

[class^="heading-"]{
    font-family: $default-font-2;
    color: $color-grey-dark-2;
}

.heading-primary{
    font-size: 8rem;
}

.heading-secondary{
    font-size: 4rem;
}