.u-text-center{
    text-align: center;
}

.u-margin-bottom-big{
    margin-bottom: 8rem;
    @include respond(phone){
        margin-bottom: 4rem;
    }
}

.u-animated{
    animation: zoomText 3s forwards ease-in;
}