.section-dns {
  max-width: 80%;
  margin: 0 auto;
  padding: 5rem 0 15rem 0;

  @include respond(tab-port) {
    padding: 0;
    margin-bottom: 0rem;
  }
}

.section-html {
  width: 100%;
  padding: 15rem 0 15rem 0;
  background-color: $color-grey-light-1;

  @include respond(tab-port) {
    padding: 8rem 0 8rem 0;
  }
}

.section-css {
  width: 100%;
  padding: 15rem 0 15rem 0;
  margin: auto;
  background-color: #222;

  @include respond(tab-port) {
    padding: 8rem 0 8rem 0;
  }
}
