.menu{
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 15rem;
    display: flex;
    padding: 0 1%;
    justify-content: space-between;
    align-items: center;
    transition: .5s;

    &__logo{

        &:link,
        &:visited{
            display: inline-block;
            font-family: $default-font-logo;
            font-size: 5rem;
            color: $color-grey-dark-1;
            text-decoration: none;
            transition: .5s;
            animation: moveInLeft 1s ease-out backwards;
            animation-delay: 1s;
        }

    }
    &__bars{
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: moveInRight 1s ease-out backwards;
        animation-delay: 1s;
    }

    &__bar{

        width: 30px;
        height: 2px;
        background-color: black;
        position: relative;
        cursor: pointer;

        &::before{
            content: "";
            position: absolute;
            width: 80%;
            height: 100%;
            top: -7px;
            right: 0;
            background-color: black;
        }

        &::after{
            content: "";
            position: absolute;
            width: 120%;
            height: 100%;
            top: 7px;
            right: 0;
            background-color: black;
        }
    }

    &--scroll{
        background-color: $color-white;
        height: 8rem;
        box-shadow: 0 1rem 1rem rgba($color: #000000, $alpha: .2);
        
        .menu__logo{
            font-size: 4rem;
        }
    }

}